<html>

<head>
  <title>Timer Stats Database</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='data.css') }}">
</head>

<body>
  <form method="POST" onkeydown="return event.key != 'Enter';">
    <label for="activity">Activity:</label><br>
    <input type="date" id="fname" name="start_date" placeholder="start"><br>
    <input type="date" id="fname" name="end_date" placeholder="end"><br>
    <input type="text" id="fname" name="activity" placeholder="activity"><br>
    <input type="submit" name="update" value="Update Stats" />
  </form>

</body>

</html>